<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="partials/bootstrap :: bootstrapStyle"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h2 th:replace="partials/header :: header"></h2>
<h1>Edit Post</h1>
<form th:action="@{/posts/{id}/edit(id=${post.id})}" th:object="${post}" th:method="post">
    <th:block th:replace="partials/editCreateForm :: form"></th:block>
</form>
<form th:action="@{/posts/{id}/delete(id=${post.id})}" action="get">
    <button type="submit">Delete Post</button>
</form>

<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/bootstrap :: bootstrapJS"></th:block>
</body>
</html>