<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <th:block th:replace="partials/bootstrap :: bootstrapStyle"></th:block>
    <style>
        body {
            margin: 0 15px;
        }
        .post h2{
            text-align: center;
        }

    </style>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1 style="text-align: center">Post Details for Post #<span th:text="${id}"></span></h1>
<hr>

<div class="post">
    <h2 th:text = "${title}"></h2>
    <p th:text = "${body}"></p>
    <small th:text ="${email}"></small>
</div>
<div th:if="${#authentication.principal.id == post.user.getId()}">
    <a th:href="@{/posts/{id}/edit(id=${post.id})}">Edit Post</a>
</div>

<hr>
<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/bootstrap :: bootstrapJS"></th:block>

</body>
</html>